@font-face {
  font-family: "Source-Sans-Pro";
  src: url(./source-sans-pro/SourceSansPro-Regular.otf) format("otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source-Sans-Pro", sans-serif;
}
body{
  text-align: center;
}
header{
  background-color: transparent;
  padding: 10px;
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 1;
  width: 90%;
}
nav{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}
ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 20px;
  color: #ffffff;
}
li a{
  text-decoration: none;
}
.hero{
  background-image: url(./images/Object.png);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.hero-text{
  color: #ffffff;
  text-align: center;
  margin-bottom: 70px;
}
.hero-text h1{
  font-size: 120px;
  margin-bottom: 10px;
  font-weight: 900;
}
.hero-text span{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: 20px;
  color: #ffffff;
  margin-right: 20px;
}
.hero-text button{
  font-size: 14px;
  padding: 20px 40px;
  border: none;
  border-radius: 22px;
  background-color: #c271ff;
  display: block;
  margin: 30px auto;
  color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
}
.hero-img{
  display: flex;
  flex-direction: column;
  padding: 20px;
  line-height:1.5 ;
}
.hero-img h2{
  font-size: 40px;
}
.hero-img h2 span{
  color: #c271ff;
  font-weight: bold;
}
.hero-img-container{
  align-items: center;
  padding: 50px;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
}

.image-bruce {
  border-radius: 50% 50% 50% 50%;
}


.testimonials {
  background-color: #c271ff;
  padding: 70px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: #ffffff;
}

.testimonial-text {
  padding: 20px;
  text-align: start;
}

.testimonial-text h3 {
  font-size: 20px;
  margin-top: 40px;
  font-weight: bold;
}

.testimonial-text p {
  font-size: 20px;
  font-style: italic;
}


.tutorials {
  width: 1228px;
  height: 450px;
  top: 1572px;
  left: 106px;
  align-items: center;
  padding-top: 250px;
  border-radius: 100px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-left: 130px;
}

.tutorials h2 {
padding-bottom: 550px;
width: 294;
height: 40;
left: 482px;
font-family: Source Sans Pro;
font-weight: 300;
font-size: 32px;
line-height: 100%;
letter-spacing: normal;
text-align: center;
align-items: center;
justify-content: center;
position: absolute;
display: flex;
}

.tutorials h2 span {
  margin-left: 5px;
  margin-right: 5px;
  color: #C271FF;
}

.tutorials h4 {
  width: 86;
height: 27;
top: 263px;
left: 56px;
font-family: Source Sans Pro;
font-weight: 600;
font-size: 14px;
line-height: 27px;
letter-spacing: 0px;
color: #C271FF;

}

.tuto_1 {
width: 255;
height: 335;
top: 115px;
left: 58px;
border-radius: 5px;
background: #FFFFFF;
box-shadow: 0px 2px 4px 0px #0716292E;
}



.tuto_1 img {
 width: 255;
height: 154;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.tuto_1 h3 {
  padding-top: 20px;
  width: 106;
height: 20;
top: 172px;
left: 13px;
font-family: Source Sans Pro;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;

}

.tuto_1 p {
width: 242;
height: 48;
top: 199.6px;
left: 13px;
font-family: Source Sans Pro;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0px;
}

.avatar {
width: 100;
height: 1000;
top: 261px;
left: 13px;
}

.video-container {
  position: relative;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating {
width: 107;
height: 15;
top: 305px;
left: 13px;
display: flex;
align-items: center;
gap: 5px;
color: #C271FF;
padding-right: 2px;
}

.text {
width: 34;
height: 27;
top: 297px;
left: 199px;
font-family: Source Sans Pro;
font-weight: 600;
font-size: 14px;
line-height: 27px;
letter-spacing: 0px;
text-align: right;
color: #C271FF;

}

.stars {
width: 15;
height: 15;
top: 305px;
left: 13px;
}


.tuto_2 {
width: 255;
height: 335;
top: 115px;
left: 344px;
border-radius: 5px;
background: #FFFFFF;
box-shadow: 0px 2px 4px 0px #0716292E;
}

.tuto_2 img {
  width: 255;
height: 154;
}

.tuto_2 h3 {
  padding-top: 20px;
width: 70;
height: 20;
top: 172px;
left: 13px;
font-family: Source Sans Pro;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
}

.tuto_2 p {
width: 242;
height: 48;
top: 199.6px;
left: 13px;
font-family: Source Sans Pro;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0px;
}

.tuto_3 {
width: 255;
height: 335;
top: 115px;
left: 629px;
border-radius: 5px;
background: #FFFFFF;
box-shadow: 0px 2px 4px 0px #0716292E;
}

.tuto_3 img {
width: 255;
height: 154;
}

.tuto_3 h3 {
  padding-top: 20px;
width: 97;
height: 20;
top: 172px;
left: 13px;
font-family: Source Sans Pro;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
}

.tuto_3 p {
width: 242;
height: 48;
top: 199.6px;
left: 13px;
font-family: Source Sans Pro;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0px;
}

.tuto_4 {
width: 255;
height: 335;
top: 115px;
left: 914px;
border-radius: 5px;
background: #FFFFFF;
box-shadow: 0px 2px 4px 0px #0716292E;
}

.tuto_4 img {
width: 255;
height: 154;
}

.tuto_4 h3 {
  padding-top: 10px;
width: 89;
height: 20;
top: 172px;
left: 13px;
font-family: Source Sans Pro;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
}

.tuto_4 p {
width: 242;
height: 48;
top: 199.6px;
left: 13px;
font-family: Source Sans Pro;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0px;
}


.free-membership {
  padding-top: 200px;
}