@font-face {
  font-family: "Source-Sans-Pro";
  src: url(./source-sans-pro/SourceSansPro-Regular.otf) format("otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source-Sans-Pro", sans-serif;
}
body{
  text-align: center;
}
header{
  background-color: transparent;
  padding: 10px;
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 1;
  width: 90%;
}
nav{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}
ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 20px;
  color: #ffffff;
}
li a{
  text-decoration: none;
}
.hero{
  background-image: url(./images/Object.png);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.hero-text{
  color: #ffffff;
  text-align: center;
  margin-bottom: 70px;
}
.hero-text h1{
  font-size: 120px;
  margin-bottom: 10px;
  font-weight: 900;
}
.hero-text span{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: 20px;
  color: #ffffff;
  margin-right: 20px;
}
.hero-text button{
  font-size: 14px;
  padding: 20px 40px;
  border: none;
  border-radius: 22px;
  background-color: #c271ff;
  display: block;
  margin: 30px auto;
  color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
}
.hero-img{
  display: flex;
  flex-direction: column;
  padding: 20px;
  line-height:1.5 ;
}
.hero-img h2{
  font-size: 40px;
}
.hero-img h2 span{
  color: #c271ff;
  font-weight: bold;
}
.hero-img-container{
  align-items: center;
  padding: 50px;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
}

.image-bruce {
  border-radius: 50% 50% 50% 50%;
}